.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    width: 90%;
    max-width: 55rem;
    height: auto;
    max-height: 90%;
    background-color: #222327;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 5rem 4rem;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.close-button {
    position: absolute;
    top: 0.1rem;
    right: 1rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
